<div>
    <h1 align="center"> Time-Flip</h1> <br>
    <div align="center">
    <%= link_to "Sign Up" , signup_path, class: "btn btn-primary btn-lg"  %> <br><br>
    
    <%= link_to "Sign In" , login_path, class: "btn btn-primary btn-lg"  %>
    </div>
</div>