<h1 align="center">Listing all memories</h1>
<div align="center">
  <%= will_paginate %>
</div>

<%= render 'memory', obj: @memories %>

<div align="center">
  <%= will_paginate %>
</div>
<div class="col-xs-8 col-xs-offset-5">
  [<%= link_to 'Create New Memory', new_memory_path %>]
</div>